# sklearnを使った重回帰分析　課題の回答

以下の課題を解いていきましょう:
-  切片と係数を表示しましょう
-  決定係数と自由度修正済み決定係数を表示しましょう
-  決定係数の値と自由度修正済み決定係数の値を比較しましょう
-  今回の回帰と、単回帰の場合における決定係数の値を比較しましょう
-  モデルを作成し、床面積が750の場合の値を計算しましょう
-  p値を計算しましょう
-  まとめ表を作成しましょう

## ライブラリのインポート

In [32]:
import sklearn
import pandas as pd
import numpy as np

## データの読み込み

In [3]:
df = pd.read_csv("./real_estate_price_size_year.csv")

In [4]:
df

         price     size  year
0   234314.144   643.09  2015
1   228581.528   656.22  2009
2   281626.336   487.29  2018
3   401255.608  1504.75  2015
4   458674.256  1275.46  2009
..         ...      ...   ...
95  252460.400   549.80  2009
96  310522.592  1037.44  2009
97  383635.568  1504.75  2006
98  225145.248   648.29  2015
99  274922.856   705.29  2006

[100 rows x 3 columns]

## 回帰の作成

### 従属変数と独立変数の宣言

In [7]:
x=df[['size','year']]
y=df['price']

### 回帰

In [16]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(x,y)

LinearRegression()

### 係数の表示

In [17]:
reg.coef_

array([ 227.70085401, 2916.78532684])

### 切片の表示

In [18]:
reg.intercept_

-5772267.01746328

### 決定係数の計算

In [19]:
reg.score(x,y)

0.7764803683276792

### 自由度修正済み決定係数の計算

In [24]:
x

       size  year
0    643.09  2015
1    656.22  2009
2    487.29  2018
3   1504.75  2015
4   1275.46  2009
..      ...   ...
95   549.80  2009
96  1037.44  2009
97  1504.75  2006
98   648.29  2015
99   705.29  2006

[100 rows x 2 columns]

In [26]:
#　計算方法
r2 = reg.score(x,y)

In [29]:
adjusted_r2 = (1-(1-r2)*(100-1)/(100-2-1))
adjusted_r2

0.7718717161282499

### 決定係数と自由度修正済み決定係数の比較

Answer...

### 単回帰分析における決定係数と自由度修正済み決定係数の比較

Answer...

### 予測

面積が750の場合の値を予測します

In [41]:

reg.predict(750, 2015)

TypeError: predict() takes 2 positional arguments but 3 were given

### 一変量の場合におけるp値の計算

### まとめ表の作成

Answer...